@import "../variables.scss";

#about {
  color: $primary-color;
  border-radius: 10px;

  h1 {
    margin-bottom: 2rem;
    text-align: center;
  }

  h2 {
    margin: 2rem 0;

    @media screen and (max-width: 768px) {
      font-size: 2rem;
    }
  }

  h3 {
    margin-bottom: 1rem;

    @media screen and (max-width: 768px) {
      font-size: 1.2rem;
    }
  }

  p {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 30px;

    @media screen and (max-width: 768px) {
      font-size: 1rem;
    }
  }

  .about-overlay {
    background-image: linear-gradient(
        200deg,
        rgba(0, 0, 0, 0.51) 16.41%,
        rgba(0, 0, 0, 0.51) 77.16%
      ),
      url(../images/about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
    margin-bottom: 2rem;

    @media screen and (max-width: 768px) {
      height: 90vh;
    }

    .about-welcome {
      width: 80%;
      margin: 0 auto;

      h1 {
        font-size: 5rem;
        margin-bottom: 1rem;

        @media screen and (max-width: 768px) {
          font-size: 3rem;
        }
      }

      p {
        font-size: 1.5rem;
        font-weight: 500;

        @media screen and (max-width: 768px) {
          font-size: 1rem;
        }

        @media screen and (max-width: 576px) {
          font-size: 0.8rem;
        }
      }
    }
  }

  .about__container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 768px) {
      width: 90%;
    }

    .vision {
      display: flex;
      justify-content: space-between;
      margin-bottom: 3rem;

      @media screen and (max-width: 768px) {
        flex-direction: column-reverse;
      }

      .vision-points {
        width: 50%;

        @media screen and (max-width: 768px) {
          width: 100%;
        }

        .vision-point {
          margin-bottom: 3rem;

          @media screen and (max-width: 768px) {
            margin-bottom: 1rem;
          }
        }

        .vision-point:last-child {
          margin-bottom: 0;
        }
      }

      .vision-image {
        width: 48%;

        @media screen and (max-width: 768px) {
          width: 100%;
          height: 300px;
          margin-bottom: 2rem;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .mission-title {
      text-align: end;

      @media screen and (max-width: 768px) {
        text-align: start;
      }
    }

    .mission {
      display: flex;
      justify-content: space-between;
      margin-bottom: 3rem;

      @media screen and (max-width: 768px) {
        flex-direction: column;
      }

      .mission-image {
        width: 48%;

        @media screen and (max-width: 768px) {
          width: 100%;
          height: 300px;
          margin-bottom: 2rem;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .mission-points {
        width: 50%;

        @media screen and (max-width: 768px) {
          width: 100%;
        }

        .mission-point {
          margin-bottom: 3rem;

          @media screen and (max-width: 768px) {
            margin-bottom: 1rem;
          }
        }

        .mission-point:last-child {
          margin-bottom: 0;
        }
      }
    }

    .apart {
      display: flex;
      justify-content: space-between;
      margin-bottom: 3rem;

      @media screen and (max-width: 768px) {
        flex-direction: column-reverse;
      }

      .apart-points {
        width: 50%;

        @media screen and (max-width: 768px) {
          width: 100%;
        }

        .apart-point {
          margin-bottom: 3rem;

          @media screen and (max-width: 768px) {
            margin-bottom: 1rem;
          }
        }

        .apart-point:last-child {
          margin-bottom: 0;
        }
      }

      .apart-image {
        width: 48%;

        @media screen and (max-width: 768px) {
          width: 100%;
          height: 300px;
          margin-bottom: 2rem;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .join-us {
      background: $secondary-color;
      color: white;
      padding: 2rem;
      margin-bottom: 3rem;

      @media screen and (max-width: 768px) {
        padding: 1rem;
      }

      h2 {
        margin: 0;
        margin-bottom: 1rem;
      }
    }
  }
}
