@import "../variables.scss";

#contact {
  width: 50%;
  margin: 3rem auto;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.1);

  h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  form {
    input {
      font-family: $font;
      font-size: 1rem;
      padding: 0.5rem;
      margin-bottom: 1rem;
      border: 1px solid $primary-color;
      border-radius: 5px;
      width: 100%;
    }

    textarea {
      @extend input;
    }
  }
}

@media screen and (max-width: 768px) {
  #contact {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  #contact {
    width: 100%;
    box-shadow: none;

    button {
      width: 40%;
    }
  }
}
