@import "../variables.scss";

#result {
  width: 80%;
  margin: 0 auto;
  margin-top: 10rem;
  background-color: $primary-color;
  color: white;
  border-radius: 10px;
  padding: 2rem;

  h1 {
    color: white;
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .result-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .result-item {
      padding: 1rem;

      p {
        font-weight: 400;
        font-size: 1.2rem;

        @media screen and (max-width: 480px) {
          font-size: 1rem;
        }

        a {
          color: white;
          text-decoration: none;

          .course-code {
            font-weight: 600;
            text-transform: uppercase;
          }

          .material-type,
          .material-semester,
          .material-session {
            text-transform: capitalize;
          }
        }

        a:hover {
          color: $secondary-color;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  #result {
    padding: 1rem;
    width: 90%;
    border-radius: 0;

    .result-container {
      .result-item {
        padding: 1rem 0 1rem 0;
      }
    }
  }
}
