@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");
@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font;
  font-size: 15px;
}

h1 {
  font-weight: 800;
  font-size: 4rem;
}

h2 {
  font-weight: 700;
  font-size: 3rem;
}

h3 {
  font-weight: 600;
  font-size: 2rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: $primary-color;
}

button {
  cursor: pointer;
  font-family: $font;
}
